/* FILTER */
.event-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.event-filter span {
  padding: 8px 15px;
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.event-filter .active {
  background: #0077ff;
  color: black;
}

/* BADGE */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  font-weight: bold;
}

.badge.hot {
  background: red;
}

/* CARD FIX */
.event-card {
  position: relative;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.event-card:hover {
  transform: translateY(-10px) scale(1.02);
}

/* INFO */
.event-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
  color: #777;
}

/* BUTTON */
.event-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  background: #0077ff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}

.event-btn:hover {
  background: #005fcc;
}