/* WRAPPER */
.market-section {
  padding: 40px 10%;
}

/* CONTAINER */
.market-container {
  max-width: 700px;
  margin: auto;
}

/* BACK BUTTON */
.back-btn {
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #0f172a;
  font-weight: bold;
}

/* CARD */
.market-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.market-card h2 {
  margin-bottom: 15px;
}

/* FORM */
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* TEXTAREA */
textarea {
  min-height: 100px;
  resize: vertical;
}



button:hover {
  background: #1e293b;
}