.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.chat-button:hover {
  transform: scale(1.1);
}

.chat-box {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  background: white;
  border-radius: 12px;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 999;
}

.chat-header {
  background: #0f172a;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
}

.chat-body {
  padding: 12px;
  height: 220px;
  overflow-y: auto;
  background: white;
}


.chat-footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 5px;
  gap: 5px;
  box-sizing: border-box;
  position: relative;
}
.menu-popup {
  position: absolute;
  bottom: 45px;
  left: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  padding: 8px 0;
  width: 200px;
  display: none;
  flex-direction: column;
  font-size: 14px;
  z-index: 1000;
}
.menu-popup div {
  padding: 10px 12px;
  cursor: pointer;
}
.menu-popup div:hover {
  background: #f1f1f1;
}



.left-icons {
  display: flex;
  gap: 5px;
}

.icon-btn {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
}

.icon-btn:hover {
  background: #eee;
}

.chat-footer input {
  flex: 1;
  min-width: 0;
  padding: 10px;
  border: none;
  outline: none;
}

.send-btn {
  flex-shrink: 0;
  background: #0f172a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}
#chat-toggle:checked ~ .chat-box {
  display: flex;
}
#menu-toggle:checked ~ .menu-popup {
  display: flex;
}