.budaya-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.budaya-container img {
  width: 350px;
  border-radius: 8px;
}

.budaya-container p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .budaya-container {
    flex-direction: column;
  }

  .budaya-container img {
    width: 100%;
  }
}
