.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.chat-button:hover {
  transform: scale(1.1);
}

.chat-box {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  background: white;
  border-radius: 12px;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 999;
}

.chat-header {
  background: #0f172a;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
}

.chat-body {
  padding: 12px;
  height: 220px;
  overflow-y: auto;
  background: white;
}


.chat-footer {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-footer button {
  background: #0f172a;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#chat-toggle:checked ~ .chat-box {
  display: flex;
}
