header {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0 1px;
}

header h1 {
  margin-bottom: 10px;
  font-size: 32px;
  font-style: Georgia;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #111;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
}

.navbar ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.navbar ul li a:hover {
  background: blue;
}

section {
  padding: 10px 10%;
}

.footer {
  background: #0a0a0a;
  color: #ccc;
  padding: 40px 10%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer h3,
.footer h4 {
  color: white;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #222;
  padding-top: 15px;
  font-size: 14px;
}